#menu {
  position: fixed;     /* 1: Fija la posición [cite: 163] */
  top: 0px;            /* 2: A 0px del top [cite: 163] */
  width: 100%;         /* 3: Ocupa todo el ancho */
  z-index: 1000;       /* Asegura que esté por encima de otros elementos */
  text-align: center;  
  background-color: #097054;
  border: 1px solid #FF9900;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu li a:hover {
  background-color: orange;      /* 1: Fondo naranja  */
  text-decoration: underline;    /* 2: Subrayado  */
  text-decoration-color: blue;   /* Color de subrayado azul  */
}

#imageLeft {
  float: left;  /* 1: Capa a la izquierda  */
  text-align: center;
  padding-bottom: 5px;
}

#imageRight {
  float: right; /* 1: Capa a la derecha  */
  text-align: center;
  padding-bottom: 5px;
}

#textMain {
  clear: both;  /* 1: Rompe la dinámica del float  */
}

#imageToHide {
  float: left;  /* 1: Capa a la izquierda  */
  text-align: center;
  margin-bottom: 40px;
}

#cookieEU {
  position: absolute; /* 1: Se desplaza con el scroll  */
  top: 150px;         /* 2: Distancia superior */
  left: 25%;          /* 3: Centrado aproximado */
  width: 50%;         /* 4: Ancho de la capa */
  z-index: 500;
  border: 2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}

#textOverflow {
  overflow-y: scroll; /* 1: Barra vertical [cite: 181] */
  overflow-x: hidden; /* 2: Oculta horizontal [cite: 181] */
  height: 250px;
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-right: 20px;
}

#footer {
  position: fixed;  /* 1: Fija la posición  */
  bottom: 0px;      /* 2: Anclado al fondo */
  width: 100%;      /* 3: Todo el ancho */
  background-color: #097054;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}

@media all and (max-width: 500px) {
  #imageLeft {
    float: none; /* 1: Deja de flotar  */
  }

  #imageRight {
    float: none; /* 1: Deja de flotar  */
  }
  
  #imageToHide {
    float: none; /* 1: Deja de flotar para desplazarse arriba  */
  }
}

