* {
  margin: 0px auto;
}

body {
  background: url('../images/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; /* Mantiene el fondo quieto al hacer scroll */
  font-family: 'Indie Flower', cursive;
}

h1, h2 {
  text-align: center;
}

img {
  border: dashed 5px #FF9900;
  margin: 10px;
  max-width: 200px;
}

#header {
  margin-top: 60px; /* Ajustado para que el menú no lo tape */
  text-align: center;
  background-color: #FF9900;
  border-bottom: 5px solid #6599FF;
  border-top: 5px solid #6599FF;
  color: white;
  padding-top: 10px;
}

/* Punto 1: Menú Fijo */
#menu {
  position: fixed;     /* 1 */
  top: 0px;            /* 2 */
  width: 100%;         /* 3 */
  z-index: 1000;
  text-align: center;  
  background-color: #097054;
  border: 1px solid #FF9900;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu a {
  color: white;
  text-decoration: none;
}

#menu li {
  display: inline-block;
  padding: 10px;  
}

#menu li a:hover {
  /* Punto 1: Efectos Hover */
  background-color: orange;      /* 1 */
  text-decoration: underline;    /* 2 */
  text-decoration-color: blue;
}

/* Punto 6: Pie de página Fijo */
#footer {
  position: fixed;     /* 1 */
  bottom: 0px;         /* 2 */
  width: 100%;         /* 3 */
  background-color: #097054;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}

/* Punto 2: Floats e Imágenes */
#imageLeft {
  float: left;         /* 1 */
  text-align: center;
  padding-bottom: 5px;
}

#imageRight {
  float: right;        /* 1 */
  text-align: center;
  padding-bottom: 5px;
}

/* Punto 3: Clear y ocultar */
#textMain {
  clear: both;         /* 1: Rompe la dinámica del float anterior */
}

#imageToHide {
  float: left;         /* 1 */
  text-align: center;
  margin-bottom: 40px;
}

/* Punto 4: Capa Cookies (Absolute) */
#cookieEU {
  position: absolute;  /* 1: No se queda fija al hacer scroll */
  top: 150px;          /* 2 */
  left: 25%;           /* 3 */
  width: 50%;          /* 4 */
  border: 2px solid red;
  background-color: white;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
  z-index: 500;
}

/* Punto 5: Overflow Scroll */
#textOverflow {
  overflow-y: scroll;  /* 1: Barra vertical */
  overflow-x: hidden;  /* 2: Ocultar horizontal */
  height: 250px;
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-right: 20px;
}

#textCentral {
  padding: 15px;
  border: 5px dashed black;
  background-color: white;
  margin: 10px 250px;
  border-radius: 30px;
}

.button {
  background-color: #097054;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

/* Punto 7: Media Queries */
@media all and (max-width: 500px) {
  #imageLeft, #imageRight {
    float: none;       /* 1: Dejan de flotar */
    width: 100%;
  }
  
  #textCentral {
    margin: 10px;
  }
  
  #imageToHide {
    float: none;       /* 1: Se desplaza hacia arriba */
    margin-bottom: 10px;
  }
}
