/* RESET */
* {
  margin: 0px auto;
}

/* GENERAL */
body {
  background: url('../images/fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}

h1, h2 {
  text-align: center;
}

img {
  border: dashed 5px #FF9900;
  margin: 10px;
}

ul {
  color: white;
}

p {
  margin-bottom: 5px;
}

/* =========================
   1. MENÚ FIJO
   ========================= */
#menu {
  position: fixed;
  top: 0px;
  width: 100%;

  text-align: center;
  background-color: #097054;
  border: 1px solid #FF9900;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu li {
  display: inline;
  padding-left: 5px;
}

#menu a {
  color: white;
  text-decoration: none;
}

#menu li a:hover {
  background-color: orange;
  text-decoration: underline;
  text-decoration-color: blue;
}

/* =========================
   HEADER
   ========================= */
#header {
  margin-top: 50px;
  text-align: center;
  background-color: #FF9900;
  border-bottom: 5px solid #6599FF;
  border-top: 5px solid #6599FF;
  color: white;
  padding-top: 10px;
}

/* =========================
   2. FLOAT + VISIBILITY
   ========================= */
#imageLeft {
  float: left;
  text-align: center;
  padding-bottom: 5px;
}

#imageRight {
  float: right;
  text-align: center;
  padding-bottom: 5px;
}

/* =========================
   3. DISPLAY NONE + CLEAR
   ========================= */
#textMain {
  clear: both;
}

#imageToHide {
  float: left;
  text-align: center;
  margin-bottom: 40px;
}

/* =========================
   4. CAPA PARECIDA AL MENÚ
   NO FIJA + SCROLL
   ========================= */
#cookieEU {
  position: absolute;
  top: 150px;
  left: 25%;
  width: 50%;

  border: 2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}

#textOverflow {
  overflow-y: scroll;
  overflow-x: hidden;

  height: 250px;
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-right: 20px;
}

/* =========================
   6. FOOTER FIJO (IGUAL QUE 1)
   ========================= */
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;

  background-color: #097054;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: #443266;
  background-color: white;
}

/* =========================
   7. MEDIA QUERY
   ========================= */
@media all and (max-width: 500px) {

  /* 7.1 Las capas dejan de flotar */
  #imageLeft,
  #imageRight {
    float: none;
    text-align: center;
  }

  /* 7.2 La capa 3 se desplaza hacia arriba */
  #imageToHide {
    float: none;
  }

  #textCentral {
    margin: 0px;
  }

  #textOverflow {
    margin-right: 0px;
  }

  #header {
    margin-top: 80px;
  }
}

@media all and (max-width: 300px) {
  #header {
    margin-top: 100px;
  }
}
