/* Punto 1: Barra de menú siempre fija arriba */
#menu {
  position: fixed;     /* 1 */
  top: 0px;            /* 2 */
  width: 100%;         /* 3 */
  z-index: 1000;
  text-align: center;  
  background-color: #097054;
  border: 1px solid #FF9900;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

body {
  /* 1. La ruta: el "../" es vital si el CSS está en una subcarpeta */
  background-image: url('images/fondo.jpg');
  
  /* 2. Para que cubra toda la pantalla sin repetirse */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  /* 3. IMPORTANTE: Para que se vea como en el PDF, el fondo 
     debe quedarse quieto mientras el contenido se desliza */
  background-attachment: fixed; 
  
  font-family: 'Indie Flower', cursive;
  margin: 0;
}

/* Punto 1: Hover de los enlaces */
#menu li a:hover {
  background-color: orange;      /* 1 */
  text-decoration: underline;    /* 2 */
  text-decoration-color: blue;
}

/* Punto 6: Barra de pie de página siempre fija abajo */
#footer {
  position: fixed;     /* 1 */
  bottom: 0px;         /* 2 */
  width: 100%;         /* 3 */
  background: url('images/fondo.jpg');
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;

}

/* Punto 2: Capas de imágenes laterales */
#imageLeft {
  float: left;         /* 1 */
  text-align: center;
  padding-bottom: 5px;
}

#imageRight {
  float: right;        /* 1 */
  text-align: center;
  padding-bottom: 5px;
}

/* Punto 3: Romper la dinámica del float */
#textMain {
  clear: both;         /* 1 */
}

#imageToHide {
  float: left;         /* 1 */
  text-align: center;
  margin-bottom: 40px;
}

/* Punto 4: Capa de Cookies (Absolute) */
#cookieEU {
  position: absolute;  /* 1 */
  top: 150px;          /* 2: distancia al top */
  left: 25%;           /* 3: distancia lateral */
  width: 50%;          /* 4: ancho */
  border: 2px solid red;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
}

/* Punto 5: Scroll vertical */
#textOverflow {
  overflow-y: scroll;  /* 1 */
  overflow-x: hidden;  /* 2 */
  height: 250px;
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-right: 20px;
}

/* Punto 7: Media Query (Pantallas estrechas) */
@media all and (max-width: 500px) {
  #imageLeft, #imageRight {
    float: none;       /* 1: Las capas dejan de flotar */
    width: 100%;
  }
  
  #imageToHide {
    float: none;       /* 1: Se desplaza hacia arriba */
    margin-bottom: 10px;
  }
}








